{% extends 'base.html' %}
{% block title %}
    {{ object.text | truncatechars:10 }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <p><img src="{{ object.photo.url }}" style="width: 100%"/></p>
            <button type="button" class="btn btn-outline-primary btn-sm">{{ object.author.username }}</button>
            <p>{{ object.text|linebreaksbr }}</p>
            {% if user.get_username == object.author.username %}
            <a href="{% url 'Photo:post_update' pk=object.id %}" class="btn btn-info">Update</a>
            <a href="{% url 'Photo:post_delete' pk=object.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}